- var menu_items = ["О нас", "Новости", "Отзывы", "Партнеры"]

header.header
    .header__top-line
        .container
            .menu-adaprive-wrap
                .menu-toggle
                    .icon
                        #nav-icon
                            span
                            span
                            span
                    a.full(href="#")
                        | Меню
                a(href="#").telephone
                    | 8(812)244-00-24
                .location-header
                    a(href="#")
                        img(src="img/icons/location-b.png", alt="")
                #mySidenav.sidenav
                    ul.sidenav-list
                        li.sidenav-item
                            a(href='#').lvlin Услуги и цены
                            ul.sub-list
                                li
                                    a(href="#").back
                                        | Назад
                                li
                                    a.plus(href="#")
                                        | Лучевая диагностика
                                    ul.accor-list
                                        li
                                            a(href="#")
                                                | МРТ
                                        li
                                            a(href="#")
                                                | КТ
                                        li.active
                                            a(href="#")
                                                | ПЭТ/КТ
                                        li
                                            a(href="#")
                                                | ОФЭКТ
                                        li
                                            a(href="#")
                                                | Маммография
                                        li
                                            a(href="#")
                                                | Рентген
                                        li
                                            a(href="#")
                                                | УЗИ

                                li
                                    a.plus(href="#")
                                        | Эпилептология, и сомнология
                                    ul.accor-list
                                        li
                                            a(href="#")
                                                | МРТ
                                        li
                                            a(href="#")
                                                | КТ
                                        li.active
                                            a(href="#")
                                                | ПЭТ/КТ
                                        li
                                            a(href="#")
                                                | ОФЭКТ
                                        li
                                            a(href="#")
                                                | Маммография
                                        li
                                            a(href="#")
                                                | Рентген
                                        li
                                            a(href="#")
                                                | УЗИ
                                li
                                    a(href="#")
                                        | Центр мужского здоровья и онкоурологии
                                li
                                    a(href="#")
                                        | Стереотаксическая биопсия
                                li
                                    a(href="#")
                                        | Второе мнение
                        li.sidenav-item
                            a(href='#') Врачи
                        li.sidenav-item
                            a(href='#') Контакты
                        li.sidenav-item
                            a(href='#') О нас
                        li.sidenav-item
                            a(href='#').sidenav--active Новости
                        li.sidenav-item
                            a(href='#') Отзывы
                        li.sidenav-item
                            a(href='#') Партнеры
                        .search-input
                            .search-content
                                form
                                    .search-wrap
                                        input.search(type='text',
                                                    id="search",
                                                    name='search',
                                                    placeholder='Введите текст для поиска')
                                        button.btn-search-h(type="submit") Найти
                        .version-wrap
                            a(href="#").version-h
                                | Версия для слабовидящих
            a(href="#").version
                | Версия для слабовидящих
            ul.header__menu_list
                each item in menu_items
                    if item == "Партнеры"
                        li.header__menu_item
                            a.header__menu_link.header__menu_link--active(href="#")
                                span=item
                    else
                        li.header__menu_item
                            a.header__menu_link(href="#")
                                span=item
            .loupe-wrap
                form
                    label.search-label(for="search")
                    .search-wrap
                        input.search-m(type='text',
                                       id="search",
                                       name='search',
                                       placeholder='Поиск')
                        button.btn-search(type="submit") Найти
                //- img.loupe-img(src="img/icons/loupe.png", alt="")
            .adress-wrap
                a(href="#").adress-title
                    | Адреса клиник
                .adress-map
                    ul
                        li 6-я Советская, дом 24-26
                        li 6-я Советская, дом 24-26
                        li 6-я Советская, дом 24-26
                        li 6-я Советская, дом 24-26
                        li 6-я Советская, дом 24-26
            .location-wrap
                span(href="#").location-title
                    | Ваш город:
                a.location-city(href="#")
                    span
                        | Санкт-Петербург
            .flags-wrap
                a(href="#").country
                    | RU
                .flags-country
                    a(href="#")
                        | EN


    .header__sign-in
         .sign-in-wrap
            .container
                .logo-wrap
                    a.logo-link(href="#")
                        img.logo-img(src="img/logo.svg", alt="")
                        img.logo-img-h(src="img/logo_white.svg", alt="")
                .menu-toggle
                    .icon
                        #nav-icon
                            span
                            span
                            span
                    a.full(href="#")
                        | Меню
                .nav
                    ul.nav-list
                        li.nav-item
                            a(href="#")
                                | Услуги и цены
                        li.nav-item
                            a(href="#")
                                | Врачи
                        li.nav-item
                            a(href="#")
                                | Контакты
                .phone-wrap
                    a.phone(href="tel:+7(812)244-00-24")
                        |+7 (812) 244-00-24
                    span.time
                        | ежедневно с 7.00 до 23.00
                .signUp-wrap
                    a.enroll_link(href="#")
                        | Записаться на прием

    .intro-wrapper
        .container
            .tabs-wrap
                .tabs-list
                    ul
                        li.tabs-item.tabs-item--active.mrt(data-tab="mrt")
                            a.tablink(href="#")
                                | МРТ
                        li.tabs-item.kt(data-tab="kt")
                            a.tablink(href="#")
                                | КТ
                        li.tabs-item.yam(data-tab="yam")
                            a.tablink(href="#")
                                | Ядерная медицина <br>
                                | (ПЭТ-КТ/ОФЭКТ)
                        li.tabs-item.other(data-tab="other")
                            a.tablink(href="#")
                                | Другие услуги
                .tabs-content
                    //- .tabs-item--active
                    #mrt.tab.mrt
                        li.tabs-item.tabs-item--active.mrt(data-tab="mrt")
                            a.tablink(href="#")
                                | МРТ
                        .tab-wrapper
                            .mrt-list
                                ul
                                    li  
                                        a(href="#")
                                            | МРТ брюшной полости и забрюшинного <br> пространства
                                    li  
                                        a(href="#")
                                            | МРТ головного мозга
                                    li  
                                        a(href="#")
                                            | Магнитно-резонансная ангиография
                                    li  
                                        a(href="#")
                                            | МРТ позвоночника
                                    li  
                                        a(href="#")
                                            | МРТ мягких тканей
                                    li  
                                        a(href="#")
                                            | МРТ суставов
                                    li  
                                        a(href="#")
                                            | МРТ органов малого таза у женщин
                                    li  
                                        a(href="#")
                                            | МРТ молочных желез
                                    li  
                                        a(href="#")
                                        |  МРТ органов малого таза у мужчин
                                    li  
                                        a(href="#")
                                            | МРТ органов мошонки и паховых каналов

                            .mrt-dscr
                                p
                                    | Томографический способ исследования внутренних органов и тканей использованием явления ядерного магнитного резонанса. Томографический способ исследования внутренних органов и тканей использованием явления ядерного магнитного резонанса.
                                a(href="#")
                                    | Все услуги
                    #kt.tab.kt
                        li.tabs-item.kt(data-tab="kt")
                            a.tablink(href="#")
                                | КТ
                        .tab-wrapper
                            .mrt-list
                                ul
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                                    li  
                                        a(href="#")
                                            | КТ
                    #yam.tab.yam
                        li.tabs-item.yam(data-tab="yam")
                            a.tablink(href="#")
                                | Ядерная медицина <br>
                                | (ПЭТ-КТ/ОФЭКТ)
                        .tab-wrapper
                            .mrt-list
                                ul
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                                    li  
                                        a(href="#")
                                            | Ядерная медицина
                    #other.tab.other
                        li.tabs-item.other(data-tab="other")
                            a.tablink(href="#")
                                | Другие услуги
                        .tab-wrapper
                            .mrt-list
                                ul
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги
                                    li  
                                        a(href="#")
                                            | Другие услуги



                    

.header__popup-wrap
    .container-popup
        p.popup-title
            | Региональные центры ЛДЦ МИБС:
        span.popup-subtitle
            | 91 центр в 68 городах
        .popup-close
            img(src="img/icons/close.png", alt="")
        .popup-content
            ul
                li.bold
                    a(href="#")
                        | Санкт-Петербург
                li.bold
                    a(href="#")
                        | Москва
                li.bold
                    a(href="#")
                        | Московская область
                li.letter
                    span
                        | А
                    a(href="#")
                        | Архангельск
                li
                    a(href="#")
                        | Астрахань
                li.letter
                    span
                        | Б
                    a(href="#")
                        | Барнаул
                li
                    a(href="#")
                        | Белгород
                li
                    a(href="#")
                        | Бийск
                li.letter
                    span
                        | В
                    a(href="#")
                        | Владимир
                li
                    a(href="#")
                        | Волгоград
                li
                    a(href="#")
                        | Вологда
                li
                    a(href="#")
                        | Воронеж
                li.letter
                    span
                        | Е
                    a(href="#")
                        | Екатеринбург
                li
                    a(href="#")
                        | Ереван
                li.letter
                    span
                        | И
                    a(href="#")
                        | Иваново
                li
                    a(href="#")
                        | Ижевск
                li.letter
                    span
                        | К
                    a(href="#")
                        | Казань
                li
                    a(href="#")
                        | Калининград
                li
                    a(href="#")
                        | Калуга
                li
                    a(href="#")
                        | Кемерово
                li
                    a(href="#")
                        | Киев
                li
                    a(href="#")
                        | Киров
                li
                    a(href="#")
                        | Кисловодск
                li
                    a(href="#")
                        | Кострома
                li
                    a(href="#")
                        | Краснодар
                li
                    a(href="#")
                        | Красноярск
                li
                    a(href="#")
                        | Курган
                li
                    a(href="#")
                        | Курск
                li.letter
                    span
                        | Л
                    a(href="#")
                        | Липецк
                li.letter
                    span
                        | М
                    a(href="#")
                        | Магнитогорск
                li
                    a(href="#")
                        | Мурманск
                li.letter
                    span
                        | Н
                    a(href="#")
                        | Набережные Челны
                li
                    a(href="#")
                        | Нижневартовск
                li
                    a(href="#")
                        | Нижний Новгород
                li
                    a(href="#")
                        | Нижний Тагил
                li
                    a(href="#")
                        | Новокузнецк
                li
                    a(href="#")
                        | Новосибирск
                li.letter
                    span
                        | О
                    a(href="#")
                        | Одесса
                li
                    a(href="#")
                        | Омск
                li
                    a(href="#")
                        | Оренбург
                li
                    a(href="#")
                        | Орск
                li.letter
                    span
                        | П
                    a(href="#")
                        | Пенза
                li
                    a(href="#")
                        | Пермь
                li
                    a(href="#")
                        | Псков
                li.letter
                    span
                        | Р
                    a(href="#")
                        | Ростов-на-Дону
                li
                    a(href="#")
                        | Рязань
                li.letter
                    span
                        | С
                    a(href="#")
                        | Самара
                li
                    a(href="#")
                        | Саранск
                li
                    a(href="#")
                        | Саратов
                li
                    a(href="#")
                        | Смоленск
                li
                    a(href="#")
                        | Сочи
                li
                    a(href="#")
                        | Ставрополь
                li
                    a(href="#")
                        | Старый Оскол
                li
                    a(href="#")
                        | Стерлитамак
                li
                    a(href="#")
                        | Сызрань
                li.letter
                    span
                        | Т
                    a(href="#")
                        | Тамбов
                li
                    a(href="#")
                        | Тверь
                li
                    a(href="#")
                        | Тольятти
                li
                    a(href="#")
                        | Томск
                li
                    a(href="#")
                        | Тула
                li
                    a(href="#")
                        | Тюмень
                li.letter
                    span
                        | У
                    a(href="#")
                        | Улан-Удэ
                li
                    a(href="#")
                        | Ульяновск
                li
                    a(href="#")
                        | Уфа
                li.letter
                    span
                        | Ч
                    a(href="#")
                        | Чебоксары
                li
                    a(href="#")
                        | Челябинск
                li
                    a(href="#")
                        | Череповец
                li.letter
                    span
                        | Я
                    a(href="#")
                        | Ярославль


//- ==============================
.header__popup-city
    .container-short
        .city-search
            form.city-search-from-wrap
                .city-search-wrap
                    input.search-city(type='text',
                                id="search",
                                name='search',
                                placeholder='Поиск')
                    button.btn-search-c(type="submit") Найти
            form
                ul.city-list
                    li.city-item.bold
                        a.city-link(href="#")
                            | Санкт-Петербург
                        input.city-radio(type='radio',
                                class="radio",
                                name="radio")
                    li.city-item.bold
                        a.city-link(href="#")
                            | Москва
                        input.city-radio(type='radio',
                              name="radio",
                              class="radio")
                    li.city-item.bold
                        a.city-link(href="#")
                            | Московская область
                        input.city-radio(type='radio',
                              name="radio",
                              class="radio")
                    li.city-item.after-plus
                        a.city-link(href="#")
                            span
                                | А
                        ul.city-sub-list
                            li
                                a(href="#")
                                    | Архангельск
                                input(type='radio',
                                                name="radio",
                                                class="radio")
                            li
                                a(href="#")
                                    | Астрахань
                                input(type='radio',
                                                name="radio",
                                                class="radio")
                    li.city-item.after-plus
                        a.city-link(href="#")
                            span
                                | Б
                        ul.city-sub-list
                            li
                                a(href="#")
                                    | Белгород
                                input(type='radio',
                                                name="radio",
                                                class="radio")
                            li
                                a(href="#")
                                    | Бийск
                                input(type='radio',
                                                name="radio",
                                                class="radio")
                            li
                                a(href="#")
                                    | Белгород
                                input(type='radio',
                                                name="radio",
                                                class="radio")
                            li
                                a(href="#")
                                    | Бийск
                                input(type='radio',
                                                name="radio",
                                                class="radio")

.header__popup-signUp
    img.popup-close(src="img/icons/close-l.png", alt="")
    .container-short
        p.signUp-title
            | Записать на прием
        form
            label(for="name")
                | Ваше имя
            input(type="text")
            label(for="name")
                | Телефон
            input(type="tel")
            button.enroll_link(type="submit")
                | Записаться на прием
.signIn-form-tr
    .container-short
        .drop-down-wrap
            .location
                span.drop-down-main
                    | Санкт-Петербург
            .lang
                span.drop-down-lang
                    | RU
                ul.lang-list
                    li
                        | EN
        p.signUp-title
            | Записать на прием
        form
            input(type="text" placeholder="Ваше имя")
            input(type="tel" placeholder="Телефон")
            button.enroll_link(type="submit" )
                | Записаться на прием
        .adresss-wrap
            span
                | Адреса:
            ul
                li
                    | 6-я Советская, дом 24-26
                li
                    | Удельный пр., дом 22A
                li
                    | ул.Костюшко, дом 2
                li
                    | пр. Солидарности, д.4
                li
                    | ул. Есенина, д.2, корпус 3